.login-forms {
  background: linear-gradient(0deg, #37218899, #37218899),
    url(../../images/dancer.png);
  background-position: top;
  background-size: cover;
}
#app {
  display: contents;
}
.login.login-1 .login-aside {
  width: 100%;
  max-width: 450px;
}
@media (max-width: 991.98px) {
  .login.login-1 .login-aside {
    max-width: 100% !important;
  }
}
